@font-face {
  font-family: "Roboto", "Tahoma", sans-serif;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto", "Tahoma", sans-serif;
  src: url("../fonts/robotobold.woff") format("woff"),
    url("../fonts/robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto", "Tahoma", sans-serif;
  src: url("../fonts/robotomedium.woff") format("woff"),
    url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-red: #fb565a;
  --basic-dark-red: #d7373b;
  --basic-light-dark-red: #e74246;
  --basic-green: #00ca74;
  --basic-dark-green: #00bc6c;
  --basic-light-dark-green: #00aa62;
  --basic-yellow: #efc84a;
  --basic-ligth-dark-yellow: #eab534;
  --basic-dark-yellow: #e5a722;
  --basic-light: #eeeeee;
  --basic-white: #ffffff;
  --basic-dark: #4d4d4d;
  --basic-light-dark: #888888;
  --basic-grey: #a6a6a6;
  --basic-light-grey: #e1e1e1;
  --grey: #444444;
  --basic-dark-grey: #dfdfdf;
  --basic-opacity-grey: #d5d5d5;
}

/* Reset styles */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
button,
a {
  cursor: pointer;
}
/* Global */
.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-black);

  min-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.main-header {
  background-color: var(--basic-light);
}
.container {
  margin: 0 auto;
  width: 1157px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.page-body a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-light);
  text-transform: uppercase;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navigation a,
.basket-link {
  color: var(--basic-black);
}
.site-navigation {
  list-style: none;
  min-width: 431px;
  display: flex;
  justify-content: space-between;
}

.main-header-logo:active {
  opacity: 0.2;
}
.basket-link:hover,
.site-navigation a:hover {
  color: var(--basic-red);
}
.site-navigation a:focus,
.basket-link:focus {
  border-bottom: 2px solid var(--basic-dark-red);
}
.basket-link:active,
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 30%;
}
.basket-link::before {
  content: url("../img/basket_icon.svg");
}
/* Buttons */

.button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: 0;
  border-radius: 3px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.button.green {
  background-color: var(--basic-green);
}
.button.green:hover {
  background-color: var(--basic-dark-green);
}
.button.green:active {
  background-color: var(--basic-light-dark-green);
  color: rgba(255, 255, 255, 0.3);
}
.button.yellow {
  background-color: var(--basic-yellow);
}
.button.yellow:hover {
  background-color: var(--basic-ligth-dark-yellow);
}
.button.yellow:active {
  background-color: var(--basic-dark-yellow);
  color: rgba(255, 255, 255, 0.3);
}
.button:hover {
  background-color: var(--basic-light-dark-red);
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button {
  outline: none;
}
.button.grey {
  background-color: var(--basic-light);
  color: var(--basic-black);
}
.button.grey:hover {
  background-color: var(--basic-dark-grey);
}
.button.grey:active {
  color: rgba(0, 0, 0, 0.3);
  background: var(--basic-opacity-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-list {
  list-style: none;
  width: 200px;
  display: flex;
}

.pagination-item {
  margin-right: 10px;
}
.pagination-item:last-child {
  margin: 0;
}
/* About us */
.about-us {
  background-color: var(--basic-light);
  margin-bottom: 80px;
}
.slider {
  max-width: 1157px;
  min-height: 431px;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.about-us-item1 {
  background-image: url(../img/nerds_index_slide1.png);
}
.about-us-item2 {
  background-image: url(../img/nerds_index_slide2.png);
  display: none;
}
.about-us-item3 {
  background-image: url(../img/nerds_index_slide3.png);
  display: none;
}

.about-us-title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 35px;
}
.about-us p {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
}

/* Services */

.services-list {
  list-style: none;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}

.services-item {
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 150px;
  width: 300px;
  margin-bottom: 80px;
}
.services-item1 {
  background-image: url("../img/illustration_1.jpg");
}
.services-item2 {
  background-image: url("../img/illustration_2.jpg");
}
.services-item3 {
  background-image: url("../img/illustration_3.jpg");
}
.services-list h3 {
  padding-top: 25px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.services-list p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

/* Features */
.features-block {
  border-top: 2px solid var(--basic-light);
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.features-block-table {
  text-align: center;
}
.features-block-wrapper li {
  padding-top: 10px;
}
.features {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.features h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 30px;
}
.features h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.features p,
.features li {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.features p {
  margin-bottom: 40px;
}
.features li {
  margin-bottom: 30px;
}
.features li:last-child {
  margin-bottom: 0;
}
.features-item {
  list-style-type: none;
}
.features-item::before {
  content: "\2015";
  color: var(--basic-red);
}

/* Features table */

.features-heading {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.features-table span {
  vertical-align: super;
}
.first-line {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.second-line {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0;
}

/* Partners */
.partners {
  margin-bottom: 80px;
}
.partners-list {
  border-top: 2px solid var(--basic-light);
  border-bottom: 2px solid var(--basic-light);
  min-height: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0;
}

.partners-item {
  list-style: none;

}
.partners-item {
  opacity: 0.2;
}
.partners-item:hover {
  opacity: 1;
}
.partners-item:active {
  opacity: 0.1;
}
/* Social */

.social-link.vk::before {
  content: url("../img/vk_icon.svg");
}
.social-link.vk {
  text-align: center;
}
.social-link.fb::before {
  content: url("../img/fb_icon.svg");
}
.social-link.instagram::before {
  content: url("../img/insta_icon.svg");
}
.social-link-block {
  background-color: var(--basic-light);
  background-position: center;
  border-radius: 50%;
  width: 81px;
  height: 81px;
}

.social-link-block:hover {
  background-color: var(--basic-light-dark-red);
}
.social-link-block:active {
  background-color: var(--basic-dark-red);
}
/* Form*/
fieldset {
  border: none;
}

.filter-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.filter-item {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.filter-list li {
  margin-bottom: 30px;
}
.filter-list li:last-of-type {
  margin: 0;
}
.filter-range input {
  width: 80px;
  height: 38px;
  background: var(--basic-light);
  border-radius: 3px;
}
form button {
  width: 260px;
  height: 50px;
}

fieldset legend {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
fieldset {
  width: 260px;
  margin-bottom: 50px;
}
.popup input {
  color: var(--grey);
  border-radius: 3px;
}
.popup input:active {
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
}
.popup input:invalid {
  color: var(--basic-red);
  border: 2px solid var(--basic-red);
}

.filter-range input:active {
  color: var(--basic-black);
  border-color: var(--basic-black);
}
.filter-range input:invalid {
  color: var(--basic-red);
  border: 2px solid var(--basic-light-dark-red);
}

input {
  outline: none;
}
/* Footer */

.footer-discount h2 {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.footer-discount p {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.footer-contacts {
  width: 319px;
  height: 308px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 400px;
  top: 10px;
}
.footer-contacts a {
  color: var(--basic-black);
}
.footer-contacts h3,
.footer-contacts p {
  margin-bottom: 25px;
}
.footer-contacts button {
  width: 219px;
  height: 50px;
}
.main-footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.map-marker {
  position: absolute;
  left: 1020px;
  top: 20px;
}

.footer-social ul {
  display: flex;
  min-width: 220px;
}

.footer-social-wrapper {
  display: flex;
  padding-top: 70px;
  margin-bottom: 65px;
}
.footer-social {
  margin-right: 140px;
}
.footer-social li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.footer-social li:last-child {
  margin: 0;
}
/* catalog-title */
.catalog-title {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  min-width: 1440px;
  min-height: 241px;
  background-color: var(--basic-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}
/* Catalog*/

.title-wrapper {
  background-color: var(--basic-light);
  height: 100%;
}
.catalog {
  margin-bottom: 60px;
}
.catalog-page {
  display: flex;
  justify-content: space-between;
}
.catalog-list {
  list-style: none;
  color: var(--basic-black);

  width: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 40px;
}
.catalog-item {
  position: relative;
  width: 358px;
  min-height: 578px;
}

.catalog-list h3:hover {
  color: var(--basic-red);
}
.catalog-list h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.catalog-popup {
  width: 360px;
  height: 231px;
  background-color: var(--basic-light);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.catalog-list:nth-last-of-type(2) {
  margin-bottom: 55px;
}
.popup-window {
  position: absolute;
  top: 350px;
}
.catalog-popup button {
  width: 200px;
  height: 50px;
}
.catalog-popup:hover {
  opacity: 1;
}

/* filter-catalog*/
.filter-list {
  list-style: none;
}
.filter-item {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.filter-list input:nth-of-type(1) {
  opacity: 0.4;
}
.filter-list input:hover {
  color: var(--basic-black);
}

.filter-range input {
  background: #eeeeee;
  border-radius: 3px;
  text-transform: uppercase;
}
.filter-range label {
  text-transform: uppercase;
}

/*sorting-for-page*/
.sorting-for-page-item {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
  margin-right: 25px;
}
.sorting-for-page-item:last-child {
  margin: 0;
}

.sorting-for-page {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.sorting-for-page-list {
  display: flex;
  flex-wrap: wrap;
}
.sorting-for-page-item:hover {
  opacity: 0.6;
  cursor: pointer;
}
.sorting-for-page-item:active {
  opacity: 1;
}
.sorting-for-page-list {
  list-style: none;
}
.sorting-for-page-list li:first-child,
.sorting-for-page-list li:nth-last-child(2) {
  opacity: 1;
}
/*Popup*/
.popup {
  width: 960px;
  height: 590px;
  background-color: var(--basic-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  border: 1px solid red;
}
.popup-close:before {
  content: url("../img/close.svg");
  opacity: 0.3;
  border: none;
}
.popup-close:active {
  opacity: 0.2;
}
.popup-close:hover {
  opacity: 1;
}
.popup-close {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 90px;
  top: 78px;
}
